name: CI - Automated Retraining and Docker Build

on:
  push:
    branches:
      - main
  # Opsi agar bisa dijalankan manual (diperlukan untuk debugging)
  workflow_dispatch:

jobs:
  ci-mlops-build:
    runs-on: ubuntu-latest
    
    # Izin untuk membaca kode dan push image ke registry (Docker Hub)
    permissions:
      contents: read
      packages: write 

    steps:
      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Setup Python 3.9
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Instal MLflow CLI dan dependencies
      - name: Install All Dependencies via PIP
        run: |
          python -m pip install --upgrade pip
          # Menginstal semua dependensi model dan MLflow CLI ke base environment
          pip install pandas==2.2.2 numpy==1.26.4 scikit-learn==1.4.2 mlflow==2.13.0
          
      # Melatih Model (CI Retraining)
      # Menjalankan script modelling.py dan menyimpan model ke mlruns lokal
      - name: Run MLflow Project (Training)
        run: |
          mlflow run MLProject --env-manager=local

      # Log in ke Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} # Ini adalah Access Token

      # Build Docker Image
      - name: Build Docker Image from Run Artifact
        run: |
          # Baris ini mengambil Run ID terbaru dari folder mlruns lokal runner
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
          IMAGE_NAME=${{ secrets.DOCKER_HUB_USERNAME }}/titanic-ci:latest
          
          echo "Latest Run ID found: $RUN_ID"
          
          # Build image menggunakan model dari Run ID lokal yang baru saja dibuat
          mlflow models build-docker --model-uri "runs:/$RUN_ID/model" --name "$IMAGE_NAME"

      # Push Image ke Docker Hub
      - name: Push Docker Image to Hub
        run: |
          IMAGE_NAME=${{ secrets.DOCKER_HUB_USERNAME }}/titanic-ci:latest
          docker push $IMAGE_NAME
