name: CI - Automated Retraining and Docker Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CSV_URL: "MLProject/titanic_preprocessing.csv"
  TARGET_VAR: "Survived"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

      # Setup Python 3.10.10
      - name: Set up Python 3.10.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.10"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
      # Install mlflow
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # pip install pandas==2.2.3 numpy==2.2.1 scikit-learn==1.6.0 mlflow==2.19.0
          pip install pandas==2.2.3 numpy==2.2.1 scikit-learn==1.6.0 mlflow==2.19.0 dagshub==0.5.1 cloudpickle==3.1.0 scipy==1.14.1 psutil==5.9.0
          
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLProject --env-manager=local 
      
      # Get latest run_id
      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"
          
      # Build Docker Model
      - name: Build Docker Model
        run: |
          mlflow models build-docker --model-uri "runs:/$RUN_ID/model" --name "titanic-ci" 

      # Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Tag the Docker image
      - name: Tag Docker Image
        run: |
          docker tag titanic-ci ${{ secrets.DOCKER_HUB_USERNAME }}/titanic-ci:latest

      # Push Docker image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/titanic-ci:latest
